#nav.nav.clear.skinny.transparent.padded.row.right-bottom
    ul.nav-options.float-right
        li
            a(href="#intro") intro
        li
            a(href="#portfolio") portfolio
        li
            a(href="#projects") projects
        li
            a(href="#interests") interests
        li
            a(href="#contact") contact
    .mob-nav.float-right
        input#mob-toggle.mob-toggle(type="checkbox", name="mob-toggle")
        label(for="mob-toggle")
            .hamburger
        ul.nav-options.text-center
            li
                a(href="#intro") intro
            li
                a(href="#portfolio") portfolio
            li
                a(href="#projects") projects
            li
                a(href="#interests") interests
            li
                a(href="#contact") contact
