@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/poppins/Poppins-Bold.ttf");
  font-weight: 900; }

@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/poppins/Poppins-SemiBold.ttf");
  font-weight: 700; }

@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/poppins/Poppins-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/poppins/Poppins-Regular.ttf");
  font-weight: 300; }

@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/poppins/Poppins-Light.ttf");
  font-weight: 100; }

@font-face {
  font-family: Antonio;
  src: url("../assets/fonts/antonio/Antonio-Regular.ttf"); }

@font-face {
  font-family: Raleway;
  src: url("../assets/fonts/raleway/Raleway-Bold.ttf"); }

@font-face {
  font-family: Adam;
  src: url("../assets/fonts/adam/adam.otf"); }

@font-face {
  font-family: Lobster;
  src: url("../assets/fonts/lobster/Lobster.otf"); }

@font-face {
  font-family: Source Sans Pro;
  src: url("../assets/fonts/source-sans-pro/SourceSansPro-Black.otf"); }

@font-face {
  font-family: Angry Blu;
  src: url("../assets/fonts/angry-blue/angry-blue.TTF"); }

@font-face {
  font-family: Abel;
  src: url("../assets/fonts/abel/Abel-Regular.ttf"); }

@font-face {
  font-family: Dosis;
  src: url("../assets/fonts/dosis/Dosis-Light.otf"); }

@font-face {
  font-family: iA Writer;
  src: url("../assets/fonts/ia-writer-duospace/iAWriterDuospace-Regular.otf");
  font-weight: 300; }

@font-face {
  font-family: iA Writer;
  src: url("../assets/fonts/ia-writer-duospace/iAWriterDuospace-Bold.otf");
  font-weight: 700; }

html {
  background-color: #FA4B4B;
  width: 100vw;
  overflow-x: hidden; }
  html.lock {
    height: 100vh;
    overflow: hidden; }

* {
  font-family: Poppins;
  color: #eee; }
  *::-moz-selection {
    background-color: #FA4B4B;
    color: white; }
  *::selection {
    background-color: #FA4B4B;
    color: white; }

.red {
  color: #FA4B4B; }

.box {
  background-color: #FA4B4B;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 99; }
  .box ul {
    display: none; }
  .box:hover {
    width: 500px;
    background-color: #181818; }
    @media screen and (max-width: 768px) {
      .box:hover {
        width: 400px; } }
    @media screen and (max-width: 500px) {
      .box:hover {
        width: 300px; } }
    .box:hover ul {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-align: center;
          align-items: center;
      padding: 0px 50px; }
      @media screen and (max-width: 500px) {
        .box:hover ul {
          padding: 0px 25px; } }
      .box:hover ul > li {
        font-weight: 900;
        color: #FA4B4B; }
      .box:hover ul a {
        font-size: 0.8rem;
        opacity: 0.2;
        position: relative; }
        .box:hover ul a:after {
          position: absolute;
          content: "";
          display: block;
          height: 2px;
          width: 0;
          top: 50%;
          left: 0;
          transform: translate3d(-1%, 0, 0) scaleX(1);
          background: #fff;
          opacity: .9;
          transition: width .3s ease,transform .3s ease-out .3s;
          transform-origin: right center; }
        .box:hover ul a:hover {
          opacity: 0.75; }
          .box:hover ul a:hover li {
            color: #FA4B4B; }
          .box:hover ul a:hover:after {
            width: 102%;
            transform: translate3d(-1%, 0, 0) scaleX(0); }

#index {
  height: 100vh;
  overflow-y: hidden; }
  #index.loaded {
    height: auto;
    overflow-y: auto; }
    #index.loaded #loading {
      margin-top: -100vh; }
      #index.loaded #loading object {
        display: none; }
    #index.loaded #home .hero {
      transform: none; }
  #index #loading {
    height: 100vh;
    transition: margin-top 1.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
    #index #loading object {
      height: 75vh; }

#home .hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333333;
  background-image: url("../assets/img/hero.jpg");
  background-size: contain;
  transform: translate3d(0px, 100vh, 0px);
  transition: transform 1.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
  @media screen and (max-width: 1000px) {
    #home .hero {
      background-size: cover; } }
  @media screen and (max-width: 900px) {
    #home .hero .content {
      -ms-flex-pack: left;
          justify-content: left;
      -ms-flex-align: center;
          align-items: center;
      padding-left: 50px; } }
  #home .hero h1 {
    margin-top: 150px;
    margin-right: 50%;
    transform: translate3d(-90px, 50px, 0px);
    text-align: right; }
    @media screen and (max-width: 1440px) {
      #home .hero h1 {
        font-size: 2.5rem; } }
    @media screen and (max-width: 1330px) {
      #home .hero h1 {
        font-size: 2rem; } }
    @media screen and (max-width: 1160px) {
      #home .hero h1 {
        font-size: 1.5rem; } }
    @media screen and (max-width: 1000px) {
      #home .hero h1 {
        transform: translate3d(-90px, 100px, 0px); } }
    @media screen and (max-width: 900px) {
      #home .hero h1 {
        text-align: left;
        margin-right: 0px;
        transform: none;
        margin-top: 500px; } }
  @media screen and (max-width: 900px) and (max-height: 800px) {
    #home .hero h1 {
      margin-top: 400px; } }
  @media screen and (max-width: 900px) and (max-height: 650px) {
    #home .hero h1 {
      margin-top: 300px; } }
  @media screen and (max-width: 900px) and (max-height: 500px) {
    #home .hero h1 {
      margin-top: 250px; } }
  @media screen and (max-width: 900px) and (max-height: 450px) {
    #home .hero h1 {
      margin-top: 200px; } }

#home section {
  position: relative; }
  #home section h6 {
    font-weight: 300;
    font-size: 1rem;
    opacity: 0.2; }
  @media screen and (max-width: 1200px) {
    #home section h3 {
      font-size: 2.2rem; } }
  @media screen and (max-width: 768px) {
    #home section h3 {
      font-size: 2rem; } }
  @media screen and (max-width: 600px) {
    #home section h3 {
      font-size: 2rem; } }
  @media screen and (max-width: 425px) {
    #home section h3 {
      font-size: 1.5rem; } }
  @media screen and (max-width: 425px) and (max-height: 660px) {
    #home section h3 {
      font-size: 1.3rem; } }
  @media screen and (max-width: 425px) and (max-height: 500px) {
    #home section h3 {
      font-size: 1rem; } }

#home #about {
  margin-top: 100vh;
  background-color: #181818; }
  #home #about h3 {
    margin-bottom: 75px; }
  #home #about .facts h5 {
    font-size: 2rem; }
    @media screen and (max-width: 425px) {
      #home #about .facts h5 {
        font-size: 1.2rem; } }
  #home #about .facts p {
    font-size: 1.2rem;
    opacity: 0.2; }
    @media screen and (max-width: 425px) {
      #home #about .facts p {
        font-size: 0.9rem; } }

#home #portfolio {
  background-color: #141414;
  height: 100vh;
  overflow-y: hidden; }
  #home #portfolio .portfolio-panel {
    background-color: #272622;
    height: 100vh;
    overflow-y: scroll; }
    #home #portfolio .portfolio-panel .item {
      position: relative;
      font-size: 1rem;
      float: left;
      margin-bottom: -8px; }
      @media screen and (max-width: 768px) {
        #home #portfolio .portfolio-panel .item {
          font-size: 0.8rem; } }
      #home #portfolio .portfolio-panel .item:hover {
        cursor: pointer; }
        #home #portfolio .portfolio-panel .item:hover img {
          opacity: 1; }
        #home #portfolio .portfolio-panel .item:hover .caption {
          opacity: 0;
          transform: translate3d(20px, 0px, 0px); }
      #home #portfolio .portfolio-panel .item.eden {
        background-color: transparent; }
      #home #portfolio .portfolio-panel .item.old {
        display: none; }
      #home #portfolio .portfolio-panel .item .project-link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
      #home #portfolio .portfolio-panel .item img {
        width: 100%;
        opacity: 0.25;
        transition: opacity 0.75s cubic-bezier(0.215, 0.61, 0.355, 1); }
      #home #portfolio .portfolio-panel .item .caption {
        position: absolute;
        left: 0;
        bottom: 0;
        padding-left: 20px;
        padding-bottom: 20px;
        transition: opacity 0.75s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.75s cubic-bezier(0.215, 0.61, 0.355, 1); }
        #home #portfolio .portfolio-panel .item .caption .title {
          opacity: 0.2;
          font-size: 0.8em;
          margin-bottom: -5px; }
        #home #portfolio .portfolio-panel .item .caption .project {
          font-weight: 900; }
    #home #portfolio .portfolio-panel .show-old-work {
      padding: 40px 25px;
      background-color: #FA4B4B; }
      #home #portfolio .portfolio-panel .show-old-work:hover {
        cursor: pointer; }
        #home #portfolio .portfolio-panel .show-old-work:hover h3 {
          color: white; }
          #home #portfolio .portfolio-panel .show-old-work:hover h3:after {
            width: 102%;
            transform: translate3d(-1%, 0, 0) scaleX(0); }
      #home #portfolio .portfolio-panel .show-old-work h3 {
        color: #c53232;
        position: relative; }
        #home #portfolio .portfolio-panel .show-old-work h3:after {
          position: absolute;
          content: "";
          display: block;
          height: 7px;
          width: 0;
          top: 50%;
          left: 0;
          transform: translate3d(-1%, 0, 0) scaleX(1);
          background: #fff;
          opacity: .9;
          transition: width .3s ease,transform .3s ease-out .3s;
          transform-origin: right center; }

#home #contact {
  background-color: #0F0F0F; }
  #home #contact h3:first-of-type {
    margin-bottom: 2em; }
  @media screen and (max-width: 425px) {
    #home #contact h3 {
      font-size: 1rem; } }
  #home #contact a {
    position: relative; }
    #home #contact a:hover.twitter {
      color: #00b6f1; }
    #home #contact a:hover.insta {
      color: #c32aa3; }
    #home #contact a:hover.linkedin {
      color: #007bb6; }
    #home #contact a:hover:after {
      width: 102%;
      transform: translate3d(-1%, 0, 0) scaleX(0); }
    #home #contact a:after {
      position: absolute;
      content: "";
      display: block;
      height: 7px;
      width: 0;
      top: 50%;
      left: 0;
      transform: translate3d(-1%, 0, 0) scaleX(1);
      background: #fff;
      opacity: .9;
      transition: width .3s ease,transform .3s ease-out .3s;
      transform-origin: right center; }

#home #fwends .row > .col {
  width: 33.33333%; }
  @media screen and (max-width: 425px) {
    #home #fwends .row > .col {
      width: 50%; } }

#home #fwends .fwend {
  height: 20vw;
  position: relative; }
  @media screen and (max-width: 425px) {
    #home #fwends .fwend {
      height: 50vw; } }
  #home #fwends .fwend:hover {
    cursor: pointer; }
    #home #fwends .fwend:hover .caption {
      opacity: 1; }
      #home #fwends .fwend:hover .caption .title, #home #fwends .fwend:hover .caption .name {
        transform: none; }
  #home #fwends .fwend.golden {
    background-image: url("../assets/img/fwends/golden.jpg"); }
  #home #fwends .fwend.wastemane {
    background-image: url("../assets/img/fwends/wastemane.jpg"); }
  #home #fwends .fwend.ed {
    background-image: url("../assets/img/fwends/ed.jpg"); }
  #home #fwends .fwend.alex {
    background-image: url("../assets/img/fwends/alex.jpg"); }
  #home #fwends .fwend.yash {
    background-image: url("../assets/img/fwends/yash.jpg"); }
  #home #fwends .fwend.tk {
    background-image: url("../assets/img/fwends/tk.jpg"); }
  #home #fwends .fwend .caption {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 20px;
    padding-bottom: 20px;
    opacity: 0;
    background-color: rgba(40, 38, 34, 0.75);
    transition: opacity 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
    font-size: 1rem; }
    @media screen and (max-width: 425px) {
      #home #fwends .fwend .caption {
        font-size: 0.8rem; } }
    #home #fwends .fwend .caption .title, #home #fwends .fwend .caption .name {
      transform: translate3d(-20px, 0px, 0px);
      transition: transform 0.75s cubic-bezier(0.215, 0.61, 0.355, 1); }
    #home #fwends .fwend .caption .title {
      opacity: 0.2;
      font-size: 0.8em;
      margin-bottom: -5px; }
    #home #fwends .fwend .caption .name {
      font-weight: 900; }

#portfolio {
  background-color: white;
  min-height: 100vh;
  transition: all 0.5s ease-in-out; }
  #portfolio.black {
    background-color: #141414; }
    #portfolio.black .custom-controls path {
      color: white; }
    #portfolio.black .title {
      color: white; }
    #portfolio.black #grid .work {
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75); }
  #portfolio .custom-controls {
    position: absolute;
    top: 10px;
    right: 10px; }
    #portfolio .custom-controls svg {
      margin-right: 5px;
      cursor: pointer; }
      #portfolio .custom-controls svg:last-of-type {
        margin-right: 0px; }
      #portfolio .custom-controls svg:hover path {
        color: #FA4B4B;
        opacity: 1; }
    #portfolio .custom-controls path {
      color: black;
      opacity: 0.5;
      transition: all 0.3s ease-in-out; }
    #portfolio .custom-controls .theme-change:hover path {
      color: black;
      stroke: white; }
    #portfolio .custom-controls .theme-change path {
      opacity: 1;
      color: white;
      stroke: black;
      stroke-width: 50px; }
    #portfolio .custom-controls .theme-black:hover path {
      color: white;
      stroke: black; }
    #portfolio .custom-controls .theme-black path {
      color: black;
      stroke: white; }
  #portfolio .banner {
    padding: 100px 75px;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    #portfolio .banner .title {
      color: #2f2f2f;
      transition: all 0.5s ease-in-out; }
    #portfolio .banner .external-links {
      color: black; }
      #portfolio .banner .external-links a:hover {
        text-decoration: line-through; }
  #portfolio #grid {
    padding: 0px 75px 75px 75px;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    #portfolio #grid.small {
      -ms-flex-pack: start;
          justify-content: flex-start; }
      #portfolio #grid.small .work {
        height: 150px;
        width: calc(((100vw - 150px) / 5) - ((5 - 1) * 40px / 5));
        margin-left: 40px; }
        #portfolio #grid.small .work:nth-of-type(5n+1) {
          margin-left: 0px; }
    #portfolio #grid .work {
      height: calc(((100vw - 150px) / 2) - 20px);
      width: calc(((100vw - 150px) / 2) - 20px);
      margin-bottom: 40px;
      margin-left: 0px;
      position: relative;
      transition: all 0.5s ease-in-out;
      visibility: hidden; }
      #portfolio #grid .work:hover {
        cursor: pointer; }
        #portfolio #grid .work:hover .caption {
          transform: none; }
      #portfolio #grid .work.hovered {
        opacity: 0.1 !important; }
      #portfolio #grid .work:nth-of-type(2n) .caption {
        right: auto;
        left: -30%; }
      #portfolio #grid .work.makeuptutstv {
        background-image: url("../assets/img/portfolio/makeuptuts/poster.jpg"); }
      #portfolio #grid .work.fanbytes {
        background-image: url("../assets/img/portfolio/fanbytes/poster.jpg"); }
      #portfolio #grid .work.leicester-motors {
        background-image: url("../assets/img/portfolio/leicester-motors/poster.jpg"); }
      #portfolio #grid .work.mepiphany {
        background-image: url("../assets/img/portfolio/mepiphany/poster.jpg"); }
      #portfolio #grid .work.thirty-degrees {
        background-image: url("../assets/img/portfolio/thirty-degrees/poster.jpg"); }
      #portfolio #grid .work.ndorsa {
        background-image: url("../assets/img/portfolio/ndorsa/poster.jpg"); }
      #portfolio #grid .work.eden {
        background-image: url("../assets/img/portfolio/eden/poster.jpg"); }
      #portfolio #grid .work.pacman {
        background-image: url("../assets/img/portfolio/pacman/poster.jpg"); }
      #portfolio #grid .work.frecibo {
        background-image: url("../assets/img/portfolio/frecibo/poster.jpg"); }
      #portfolio #grid .work.fdis-website {
        background-image: url("../assets/img/portfolio/fdis/poster2.jpg"); }
      #portfolio #grid .work.raw {
        background-image: url("../assets/img/portfolio/raw/poster.jpg"); }
      #portfolio #grid .work.fdis-brand {
        background-image: url("../assets/img/portfolio/fdis/poster1.jpg"); }
      #portfolio #grid .work.lush-heat {
        background-image: url("../assets/img/portfolio/lush-heat/poster.jpg"); }
      #portfolio #grid .work.tutorial {
        background-image: url("../assets/img/portfolio/tutorial/poster.jpg"); }
      #portfolio #grid .work.moneywise {
        background-image: url("../assets/img/portfolio/moneywise/poster.jpg"); }
      #portfolio #grid .work.uprising {
        background-image: url("../assets/img/portfolio/uprising/poster.jpg"); }
      #portfolio #grid .work.fairpay {
        background-image: url("../assets/img/portfolio/fairpay/poster.jpg"); }
      #portfolio #grid .work.do-to {
        background-image: url("../assets/img/portfolio/do-to/poster.jpg"); }
      #portfolio #grid .work.old {
        display: none; }
      #portfolio #grid .work a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
      #portfolio #grid .work .caption {
        position: absolute;
        left: 70%;
        bottom: 100px;
        width: calc(((100vw - 150px) / 2) - 20px);
        color: black;
        z-index: 99;
        opacity: 0;
        transform: translateX(-20px);
        transition: transform 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
        padding: 25px;
        background-color: white;
        border-radius: 2px; }
        #portfolio #grid .work .caption .work-type, #portfolio #grid .work .caption .work-name {
          color: black; }
        #portfolio #grid .work .caption .work-type {
          opacity: 0.5; }
        #portfolio #grid .work .caption .work-name {
          line-height: 1.25em; }
  #portfolio #load-more {
    background-color: #FA4B4B;
    color: white;
    cursor: pointer; }
    #portfolio #load-more:hover h1 {
      text-decoration: line-through; }

#portfolio-pull-out {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  transition: transform 0.75s ease-in-out;
  transform: translateX(100%); }
  #portfolio-pull-out.loaded {
    transform: none; }
  #portfolio-pull-out .portfolio-panel {
    height: 100vh;
    width: 80vw;
    background-color: #141414;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%); }
    #portfolio-pull-out .portfolio-panel.loaded {
      transform: none; }
    #portfolio-pull-out .portfolio-panel .close-panel {
      position: absolute;
      top: 10px;
      left: 20px;
      opacity: 0.5;
      font-size: 1.5rem;
      cursor: pointer; }
      #portfolio-pull-out .portfolio-panel .close-panel:hover {
        opacity: 0.75; }
    #portfolio-pull-out .portfolio-panel .project-info {
      padding: 100px 50px; }
      #portfolio-pull-out .portfolio-panel .project-info * {
        font-family: iA Writer; }
      #portfolio-pull-out .portfolio-panel .project-info .project-title {
        opacity: 0.25; }
      #portfolio-pull-out .portfolio-panel .project-info .project-name {
        margin-bottom: 50px; }
      #portfolio-pull-out .portfolio-panel .project-info .fact-file {
        font-size: 0.85rem;
        margin-bottom: 50px; }
        #portfolio-pull-out .portfolio-panel .project-info .fact-file .fact {
          margin-bottom: 20px; }
          #portfolio-pull-out .portfolio-panel .project-info .fact-file .fact:last-of-type {
            margin-bottom: 0px; }
        #portfolio-pull-out .portfolio-panel .project-info .fact-file .date, #portfolio-pull-out .portfolio-panel .project-info .fact-file .team-members span {
          color: rgba(255, 255, 255, 0.5); }
        #portfolio-pull-out .portfolio-panel .project-info .fact-file .team-members {
          margin-bottom: 20px !important; }
          #portfolio-pull-out .portfolio-panel .project-info .fact-file .team-members span {
            margin-right: 5px; }
          #portfolio-pull-out .portfolio-panel .project-info .fact-file .team-members .member {
            height: 1.5em;
            width: 1.5em;
            border: 2px solid white;
            border-radius: 100px;
            position: relative; }
            #portfolio-pull-out .portfolio-panel .project-info .fact-file .team-members .member a {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%; }
            #portfolio-pull-out .portfolio-panel .project-info .fact-file .team-members .member:after {
              opacity: 0;
              border-radius: 100px; }
            #portfolio-pull-out .portfolio-panel .project-info .fact-file .team-members .member:nth-of-type(2) {
              transform: translateX(-0.5em); }
            #portfolio-pull-out .portfolio-panel .project-info .fact-file .team-members .member:nth-of-type(3) {
              transform: translateX(-1em); }
            #portfolio-pull-out .portfolio-panel .project-info .fact-file .team-members .member:nth-of-type(4) {
              transform: translateX(-1.5em); }
            #portfolio-pull-out .portfolio-panel .project-info .fact-file .team-members .member.wastemane {
              background-image: url("../assets/img/team/wastemane.jpg"); }
            #portfolio-pull-out .portfolio-panel .project-info .fact-file .team-members .member.ed {
              background-image: url("../assets/img/team/barp.jpg"); }
            #portfolio-pull-out .portfolio-panel .project-info .fact-file .team-members .member.alex {
              background-image: url("../assets/img/team/macpherson.jpg"); }
            #portfolio-pull-out .portfolio-panel .project-info .fact-file .team-members .member.tk {
              background-image: url("../assets/img/team/kilminster.jpg"); }
            #portfolio-pull-out .portfolio-panel .project-info .fact-file .team-members .member.mitch {
              background-image: url("../assets/img/team/mitch.jpg"); }
            #portfolio-pull-out .portfolio-panel .project-info .fact-file .team-members .member:hover {
              cursor: pointer; }
              #portfolio-pull-out .portfolio-panel .project-info .fact-file .team-members .member:hover:after {
                opacity: 0.75; }
          #portfolio-pull-out .portfolio-panel .project-info .fact-file .team-members:hover .member {
            transform: none;
            margin-right: 5px; }
            #portfolio-pull-out .portfolio-panel .project-info .fact-file .team-members:hover .member:last-of-type {
              margin-right: 0px; }
        #portfolio-pull-out .portfolio-panel .project-info .fact-file .desc {
          width: 60%;
          line-height: 1.8em; }
      #portfolio-pull-out .portfolio-panel .project-info .project-link {
        background-color: #FA4B4B;
        color: white;
        font-weight: 700;
        width: 200px;
        height: 50px;
        border-radius: 2px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center; }
        #portfolio-pull-out .portfolio-panel .project-info .project-link:hover span {
          transform: translateX(5px); }
        #portfolio-pull-out .portfolio-panel .project-info .project-link span {
          margin-left: 5px; }
    #portfolio-pull-out .portfolio-panel .gallery {
      height: 100vh;
      overflow-y: auto; }
      #portfolio-pull-out .portfolio-panel .gallery img {
        width: 100%;
        height: auto; }
      #portfolio-pull-out .portfolio-panel .gallery .browser {
        margin-top: 100px;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75); }
        #portfolio-pull-out .portfolio-panel .gallery .browser .browser-header {
          border-radius: 5px 5px 0 0;
          padding: 10px 15px; }
          #portfolio-pull-out .portfolio-panel .gallery .browser .browser-header .close, #portfolio-pull-out .portfolio-panel .gallery .browser .browser-header .minimise, #portfolio-pull-out .portfolio-panel .gallery .browser .browser-header .maximise {
            min-width: 10px;
            max-width: 10px;
            min-height: 10px;
            max-height: 10px;
            background-color: #181818;
            border-radius: 100px;
            margin-right: 10px; }
          #portfolio-pull-out .portfolio-panel .gallery .browser .browser-header .close:hover {
            background-color: #ff4746; }
          #portfolio-pull-out .portfolio-panel .gallery .browser .browser-header .minimise:hover {
            background-color: #ffbe00; }
          #portfolio-pull-out .portfolio-panel .gallery .browser .browser-header .maximise {
            margin-right: 20px; }
            #portfolio-pull-out .portfolio-panel .gallery .browser .browser-header .maximise:hover {
              background-color: #00d644; }
          #portfolio-pull-out .portfolio-panel .gallery .browser .browser-header .search {
            background-color: #181818;
            opacity: 0.5;
            width: 100%;
            height: 20px;
            border-radius: 3px; }
            #portfolio-pull-out .portfolio-panel .gallery .browser .browser-header .search:hover {
              opacity: 0.75; }
        #portfolio-pull-out .portfolio-panel .gallery .browser .screen {
          background-color: #171717;
          height: auto;
          width: 100%;
          display: inherit; }
