@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/poppins/Poppins-Bold.ttf");
  font-weight: 900; }

@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/poppins/Poppins-SemiBold.ttf");
  font-weight: 700; }

@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/poppins/Poppins-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/poppins/Poppins-Regular.ttf");
  font-weight: 300; }

@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/poppins/Poppins-Light.ttf");
  font-weight: 100; }

@font-face {
  font-family: Antonio;
  src: url("../assets/fonts/antonio/Antonio-Regular.ttf"); }

@font-face {
  font-family: Raleway;
  src: url("../assets/fonts/raleway/Raleway-Bold.ttf"); }

@font-face {
  font-family: Adam;
  src: url("../assets/fonts/adam/adam.otf"); }

@font-face {
  font-family: Lobster;
  src: url("../assets/fonts/lobster/Lobster.otf"); }

@font-face {
  font-family: Source Sans Pro;
  src: url("../assets/fonts/source-sans-pro/SourceSansPro-Light.otf");
  font-weight: 100; }

@font-face {
  font-family: Source Sans Pro;
  src: url("../assets/fonts/source-sans-pro/SourceSansPro-Regular.otf");
  font-weight: 300; }

@font-face {
  font-family: Source Sans Pro;
  src: url("../assets/fonts/source-sans-pro/SourceSansPro-Black.otf");
  font-weight: 900; }

@font-face {
  font-family: Angry Blu;
  src: url("../assets/fonts/angry-blue/angry-blue.TTF"); }

@font-face {
  font-family: Abel;
  src: url("../assets/fonts/abel/Abel-Regular.ttf"); }

@font-face {
  font-family: Dosis;
  src: url("../assets/fonts/dosis/Dosis-Light.otf"); }

@font-face {
  font-family: Grand Hotel;
  src: url("../assets/fonts/grand-hotel/GrandHotel-Regular.otf"); }

@font-face {
  font-family: Quicksand;
  src: url("../assets/fonts/quicksand/Quicksand-Light.otf");
  font-weight: 100; }

@font-face {
  font-family: Quicksand;
  src: url("../assets/fonts/quicksand/Quicksand-Regular.otf");
  font-weight: 300; }

@font-face {
  font-family: Quicksand;
  src: url("../assets/fonts/quicksand/Quicksand-Bold.otf");
  font-weight: 900; }

html {
  background-color: #FA4B4B;
  width: 100vw;
  overflow-x: hidden; }

* {
  font-family: Poppins;
  color: #eee; }

.red {
  color: #FA4B4B; }

h6 {
  font-weight: 300;
  font-size: 1rem;
  opacity: 0.2; }

.box {
  background-color: #FA4B4B;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 25px;
  bottom: 25px;
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1); }
  .box ul {
    display: none; }
  .box:hover {
    width: 500px;
    background-color: #181818; }
    @media screen and (max-width: 768px) {
      .box:hover {
        width: 400px; } }
    @media screen and (max-width: 500px) {
      .box:hover {
        width: 300px; } }
    .box:hover ul {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-align: center;
          align-items: center;
      padding: 0px 50px; }
      @media screen and (max-width: 500px) {
        .box:hover ul {
          padding: 0px 25px; } }
      .box:hover ul > li {
        font-weight: 900;
        color: #FA4B4B; }
      .box:hover ul a {
        font-size: 0.8rem;
        opacity: 0.2; }
        .box:hover ul a:hover {
          text-decoration: line-through;
          color: #FA4B4B;
          opacity: 1; }
          .box:hover ul a:hover li {
            color: #FA4B4B; }

#index {
  height: 100vh;
  overflow-y: hidden; }
  #index.loaded {
    height: auto;
    overflow-y: auto; }
    #index.loaded #loading {
      margin-top: -100vh; }
      #index.loaded #loading object {
        display: none; }
    #index.loaded main .hero {
      transform: none; }
  #index #loading {
    height: 100vh;
    transition: margin-top 1.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
    #index #loading object {
      height: 75vh; }
  #index .hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333333;
    background-image: url("../assets/img/hero.jpg");
    background-size: contain;
    transform: translate3d(0px, 100vh, 0px);
    transition: transform 1.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
    @media screen and (max-width: 1000px) {
      #index .hero {
        background-size: cover; } }
    @media screen and (max-width: 900px) {
      #index .hero .content {
        -ms-flex-pack: left;
            justify-content: left;
        -ms-flex-align: center;
            align-items: center;
        padding-left: 50px; } }
    #index .hero h1 {
      margin-top: 150px;
      margin-right: 50%;
      transform: translate3d(-90px, 50px, 0px);
      text-align: right; }
      @media screen and (max-width: 1440px) {
        #index .hero h1 {
          font-size: 3.5rem; } }
      @media screen and (max-width: 1330px) {
        #index .hero h1 {
          font-size: 3rem; } }
      @media screen and (max-width: 1160px) {
        #index .hero h1 {
          font-size: 2.5rem; } }
      @media screen and (max-width: 1000px) {
        #index .hero h1 {
          transform: translate3d(-90px, 100px, 0px); } }
      @media screen and (max-width: 900px) {
        #index .hero h1 {
          text-align: left;
          margin-right: 0px;
          transform: none;
          margin-top: 500px; } }
  @media screen and (max-width: 900px) and (max-height: 800px) {
    #index .hero h1 {
      margin-top: 400px; } }
  @media screen and (max-width: 900px) and (max-height: 650px) {
    #index .hero h1 {
      margin-top: 300px; } }
  @media screen and (max-width: 900px) and (max-height: 500px) {
    #index .hero h1 {
      margin-top: 250px; } }
  @media screen and (max-width: 900px) and (max-height: 450px) {
    #index .hero h1 {
      margin-top: 200px; } }
  #index section {
    position: relative; }
    #index section h6 {
      font-weight: 300;
      font-size: 1rem;
      opacity: 0.2; }
    @media screen and (max-width: 1200px) {
      #index section h3 {
        font-size: 2.2rem; } }
    @media screen and (max-width: 768px) {
      #index section h3 {
        font-size: 2rem; } }
    @media screen and (max-width: 600px) {
      #index section h3 {
        font-size: 2rem; } }
    @media screen and (max-width: 425px) {
      #index section h3 {
        font-size: 1.5rem; } }
  @media screen and (max-width: 425px) and (max-height: 660px) {
    #index section h3 {
      font-size: 1.3rem; } }
  @media screen and (max-width: 425px) and (max-height: 500px) {
    #index section h3 {
      font-size: 1rem; } }
  #index #about {
    margin-top: 100vh;
    background-color: #181818; }
    #index #about h3 {
      margin-bottom: 75px; }
    #index #about .facts h5 {
      font-size: 2rem; }
      @media screen and (max-width: 425px) {
        #index #about .facts h5 {
          font-size: 1.2rem; } }
    #index #about .facts p {
      font-size: 1.2rem;
      opacity: 0.2; }
      @media screen and (max-width: 425px) {
        #index #about .facts p {
          font-size: 0.9rem; } }
  #index #portfolio {
    background-color: #141414;
    height: 100vh;
    overflow-y: hidden; }
    #index #portfolio .portfolio-panel {
      background-color: #272622;
      height: 100vh;
      overflow-y: scroll; }
      #index #portfolio .portfolio-panel .item {
        position: relative;
        font-size: 1rem;
        float: left;
        margin-bottom: -8px; }
        @media screen and (max-width: 768px) {
          #index #portfolio .portfolio-panel .item {
            font-size: 0.8rem; } }
        #index #portfolio .portfolio-panel .item:hover {
          cursor: pointer; }
          #index #portfolio .portfolio-panel .item:hover img {
            opacity: 1; }
          #index #portfolio .portfolio-panel .item:hover .caption {
            opacity: 0;
            transform: translate3d(20px, 0px, 0px); }
        #index #portfolio .portfolio-panel .item.eden {
          background-color: transparent; }
        #index #portfolio .portfolio-panel .item img {
          width: 100%;
          opacity: 0.25;
          transition: opacity 0.75s cubic-bezier(0.215, 0.61, 0.355, 1); }
        #index #portfolio .portfolio-panel .item .caption {
          position: absolute;
          left: 0;
          bottom: 0;
          padding-left: 20px;
          padding-bottom: 20px;
          transition: opacity 0.75s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.75s cubic-bezier(0.215, 0.61, 0.355, 1); }
          #index #portfolio .portfolio-panel .item .caption .title {
            opacity: 0.2;
            font-size: 0.8em;
            margin-bottom: -5px; }
          #index #portfolio .portfolio-panel .item .caption .project {
            font-weight: 900; }
  #index #contact {
    background-color: #0F0F0F; }
    #index #contact h3:first-of-type {
      margin-bottom: 2em; }
    @media screen and (max-width: 425px) {
      #index #contact h3 {
        font-size: 1rem; } }
    #index #contact a:hover {
      text-decoration: line-through; }
      #index #contact a:hover.twitter {
        color: #00b6f1; }
      #index #contact a:hover.insta {
        color: #c32aa3; }
      #index #contact a:hover.linkedin {
        color: #007bb6; }
  #index #fwends .row > .col {
    width: 33.33333%; }
    @media screen and (max-width: 425px) {
      #index #fwends .row > .col {
        width: 50%; } }
  #index #fwends .fwend {
    height: 20vw;
    position: relative; }
    @media screen and (max-width: 425px) {
      #index #fwends .fwend {
        height: 50vw; } }
    #index #fwends .fwend:hover {
      cursor: pointer; }
      #index #fwends .fwend:hover .caption {
        opacity: 1; }
        #index #fwends .fwend:hover .caption .title, #index #fwends .fwend:hover .caption .name {
          transform: none; }
    #index #fwends .fwend.golden {
      background-image: url("../assets/img/fwends/golden.jpg"); }
    #index #fwends .fwend.wastemane {
      background-image: url("../assets/img/fwends/wastemane.jpg"); }
    #index #fwends .fwend.ed {
      background-image: url("../assets/img/fwends/ed.jpg"); }
    #index #fwends .fwend.alex {
      background-image: url("../assets/img/fwends/alex.jpg"); }
    #index #fwends .fwend.yash {
      background-image: url("../assets/img/fwends/yash.jpg"); }
    #index #fwends .fwend.tk {
      background-image: url("../assets/img/fwends/tk.jpg"); }
    #index #fwends .fwend .caption {
      position: absolute;
      left: 0;
      bottom: 0;
      padding-left: 20px;
      padding-bottom: 20px;
      opacity: 0;
      background-color: rgba(40, 38, 34, 0.75);
      transition: opacity 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
      font-size: 1rem; }
      @media screen and (max-width: 425px) {
        #index #fwends .fwend .caption {
          font-size: 0.8rem; } }
      #index #fwends .fwend .caption .title, #index #fwends .fwend .caption .name {
        transform: translate3d(-20px, 0px, 0px);
        transition: transform 0.75s cubic-bezier(0.215, 0.61, 0.355, 1); }
      #index #fwends .fwend .caption .title {
        opacity: 0.2;
        font-size: 0.8em;
        margin-bottom: -5px; }
      #index #fwends .fwend .caption .name {
        font-weight: 900; }

#portfolio {
  background-color: #181818;
  min-height: 100vh; }
  #portfolio .box {
    z-index: 99;
    position: fixed; }
    #portfolio .box:hover {
      width: 300px; }
  #portfolio .views {
    position: absolute;
    top: 30px;
    right: 50px;
    z-index: 99; }
    #portfolio .views .view {
      height: 15px;
      margin-right: 10px;
      opacity: 0.2;
      cursor: pointer; }
      #portfolio .views .view:hover {
        opacity: 0.5; }
      #portfolio .views .view:last-of-type {
        margin-right: 0px; }
  #portfolio #list {
    padding: 100px 0px; }
    #portfolio #list h6 {
      font-weight: 300;
      font-size: 1rem;
      opacity: 0.2;
      position: absolute;
      padding-top: 28px;
      padding-left: 200px; }
      @media screen and (max-width: 1100px) {
        #portfolio #list h6 {
          padding-left: 100px; } }
      @media screen and (max-width: 800px) {
        #portfolio #list h6 {
          padding-left: 50px;
          padding-top: 0px; } }
    @media screen and (max-width: 768px) {
      #portfolio #list h5 {
        font-size: 1.25rem; } }
    #portfolio #list .work {
      position: relative;
      height: 90px;
      padding: 0px 100px;
      padding-left: 50%;
      cursor: pointer; }
      @media screen and (max-width: 1330px) {
        #portfolio #list .work {
          padding-left: 40%; } }
      @media screen and (max-width: 1100px) {
        #portfolio #list .work {
          padding-left: 30%; } }
      @media screen and (max-width: 950px) {
        #portfolio #list .work {
          padding-left: 25%; } }
      @media screen and (max-width: 800px) {
        #portfolio #list .work {
          padding-left: 50px; } }
      @media screen and (max-width: 768px) {
        #portfolio #list .work {
          height: 55px; } }
      #portfolio #list .work:hover .strip {
        transform: scale3d(1, 1, 1); }
    #portfolio #list .strip {
      padding: 0px 100px;
      -ms-flex-align: center;
          align-items: center;
      position: absolute;
      width: 100%;
      top: 0px;
      left: 0px;
      transform-origin: center top;
      transform: scale3d(1, 0, 1);
      transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1); }
      @media screen and (max-width: 768px) {
        #portfolio #list .strip {
          padding: 0px 25px; } }
      #portfolio #list .strip.mepiphany {
        background-color: #46abe3; }
        #portfolio #list .strip.mepiphany p {
          color: white; }
        #portfolio #list .strip.mepiphany .title {
          font-family: Grand Hotel; }
      #portfolio #list .strip.thirty-degrees {
        background-color: black; }
        #portfolio #list .strip.thirty-degrees p {
          color: white; }
        #portfolio #list .strip.thirty-degrees .title {
          font-family: Quicksand; }
      #portfolio #list .strip.ndorsa {
        background-color: white; }
        #portfolio #list .strip.ndorsa p {
          color: black; }
        #portfolio #list .strip.ndorsa .title {
          font-family: Source Sans Pro; }
      #portfolio #list .strip.eden {
        background-color: #52ae76; }
        #portfolio #list .strip.eden p {
          color: white; }
        #portfolio #list .strip.eden .title {
          font-family: Source Sans Pro; }
      #portfolio #list .strip.frecibo {
        background-color: #a4c6b7; }
        #portfolio #list .strip.frecibo p {
          color: black; }
        #portfolio #list .strip.frecibo .title {
          font-family: Lobster; }
      #portfolio #list .strip.raw {
        background-color: #c3a541; }
        #portfolio #list .strip.raw p {
          color: black; }
        #portfolio #list .strip.raw .title {
          font-family: Adam; }
      #portfolio #list .strip.lush-heat {
        background-color: white; }
        #portfolio #list .strip.lush-heat p {
          color: black; }
        #portfolio #list .strip.lush-heat .title {
          font-family: Raleway; }
      #portfolio #list .strip.fdis {
        background-color: #f5a623; }
        #portfolio #list .strip.fdis p {
          color: black; }
        #portfolio #list .strip.fdis .title {
          font-family: Antonio; }
      #portfolio #list .strip.tutorial {
        background-color: #1172c1; }
        #portfolio #list .strip.tutorial p {
          color: white; }
        #portfolio #list .strip.tutorial .title {
          font-family: Helvetica; }
      #portfolio #list .strip.uprising {
        background-color: black; }
        #portfolio #list .strip.uprising p {
          color: white; }
        #portfolio #list .strip.uprising .title {
          font-family: Angry Blu; }
      #portfolio #list .strip.moneywise {
        background-color: #bd3935; }
        #portfolio #list .strip.moneywise p {
          color: white; }
        #portfolio #list .strip.moneywise .title {
          font-family: Raleway; }
      #portfolio #list .strip.fairpay {
        background-color: #9c1c1c; }
        #portfolio #list .strip.fairpay p {
          color: white; }
        #portfolio #list .strip.fairpay .title {
          font-family: Abel; }
      #portfolio #list .strip.do-to {
        background-color: #f6d6a4; }
        #portfolio #list .strip.do-to p {
          color: black; }
        #portfolio #list .strip.do-to .title {
          font-family: Dosis; }
      #portfolio #list .strip .title {
        font-size: 2em; }
        #portfolio #list .strip .title.large {
          font-size: 2.5em; }
        #portfolio #list .strip .title.small {
          font-size: 1.5em; }
      #portfolio #list .strip .label {
        opacity: 0.5;
        font-size: 0.7em; }
      #portfolio #list .strip .category, #portfolio #list .strip .year {
        font-weight: 900;
        font-size: 0.9em; }
      @media screen and (max-width: 768px) {
        #portfolio #list .strip .col.six {
          margin-bottom: 0px; } }
      @media screen and (max-width: 768px) {
        #portfolio #list .strip .col.three {
          display: none; } }
      @media screen and (max-width: 1100px) {
        #portfolio #list .strip.lush-heat .title, #portfolio #list .strip.fdis .title {
          font-size: 1.25em; } }
  #portfolio #grid {
    display: none;
    padding-bottom: 100px; }
    #portfolio #grid .grid {
      padding: 0px 50px; }
      #portfolio #grid .grid .work {
        height: 25vh;
        margin-bottom: 40px;
        position: relative;
        font-size: 1rem; }
        #portfolio #grid .grid .work:nth-of-type(4n+1) {
          margin-left: 0px; }
        #portfolio #grid .grid .work:hover:after {
          transition: all 0.5s ease-in-out;
          opacity: 0; }
        #portfolio #grid .grid .work:hover .caption {
          opacity: 0;
          transform: translate3d(20px, 0px, 0px); }
        #portfolio #grid .grid .work.thirty-degrees {
          background-image: url("../assets/img/portfolio/thirty-degrees/poster.jpg"); }
        #portfolio #grid .grid .work.eden {
          background-image: url("../assets/img/portfolio/eden/poster.jpg"); }
        #portfolio #grid .grid .work.frecibo {
          background-image: url("../assets/img/portfolio/frecibo/poster.jpg"); }
        #portfolio #grid .grid .work.raw {
          background-image: url("../assets/img/portfolio/raw/poster.jpg"); }
        #portfolio #grid .grid .work.lush-heat {
          background-image: url("../assets/img/portfolio/lush-heat/poster.jpg"); }
        #portfolio #grid .grid .work.fdis {
          background-image: url("../assets/img/portfolio/fdis/poster.jpg"); }
        #portfolio #grid .grid .work.tutorial {
          background-image: url("../assets/img/portfolio/tutorial/poster.jpg"); }
        #portfolio #grid .grid .work.uprising {
          background-image: url("../assets/img/portfolio/uprising/poster.jpg"); }
        #portfolio #grid .grid .work.moneywise {
          background-image: url("../assets/img/portfolio/moneywise/poster.jpg"); }
        #portfolio #grid .grid .work.fairpay {
          background-image: url("../assets/img/portfolio/fairpay/poster.jpg"); }
        #portfolio #grid .grid .work.do-to {
          background-image: url("../assets/img/portfolio/do-to/poster.jpg"); }
        #portfolio #grid .grid .work .caption {
          position: absolute;
          left: 0;
          bottom: 0;
          padding-left: 20px;
          padding-bottom: 20px;
          transition: opacity 0.75s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.75s cubic-bezier(0.215, 0.61, 0.355, 1); }
          #portfolio #grid .grid .work .caption .title {
            opacity: 0.2;
            font-size: 0.8em;
            margin-bottom: -5px; }
          #portfolio #grid .grid .work .caption .project {
            font-weight: 900; }
  #portfolio #clients .client .first-screen {
    background-color: #eee;
    padding-top: 50vh;
    background-attachment: fixed; }
    #portfolio #clients .client .first-screen .info-panel {
      background-color: #181818;
      font-size: 0.9rem; }
      #portfolio #clients .client .first-screen .info-panel .project-category, #portfolio #clients .client .first-screen .info-panel .title, #portfolio #clients .client .first-screen .info-panel .project-link {
        font-size: 0.8em; }
      #portfolio #clients .client .first-screen .info-panel .project-category, #portfolio #clients .client .first-screen .info-panel .title {
        opacity: 0.2; }
      #portfolio #clients .client .first-screen .info-panel .client-name {
        font-size: 1.8em;
        margin-bottom: 10px;
        font-weight: 900;
        display: inline-block; }
      #portfolio #clients .client .first-screen .info-panel .desc {
        margin-bottom: 30px;
        opacity: 0.5;
        font-size: 0.85rem; }
        #portfolio #clients .client .first-screen .info-panel .desc p {
          margin-bottom: 1em; }
          #portfolio #clients .client .first-screen .info-panel .desc p:last-of-type {
            margin-bottom: 0px; }
      #portfolio #clients .client .first-screen .info-panel .project-link:hover .arrow {
        transform: translate3d(2px, 0px, 0px); }
      #portfolio #clients .client .first-screen .info-panel .project-link .arrow {
        height: 1em;
        vertical-align: middle;
        margin-left: 5px; }
      #portfolio #clients .client .first-screen .info-panel .team-members .title {
        transform: translate3d(10px, 0px, 0px); }
      #portfolio #clients .client .first-screen .info-panel .team-members .member {
        height: 25px;
        width: 25px;
        border-radius: 100px;
        border: 2px solid white; }
        #portfolio #clients .client .first-screen .info-panel .team-members .member:after {
          border-radius: 100px; }
        #portfolio #clients .client .first-screen .info-panel .team-members .member.wastemane {
          background-image: url("../assets/img/team/wastemane.jpg"); }
        #portfolio #clients .client .first-screen .info-panel .team-members .member.ed {
          background-image: url("../assets/img/team/barp.jpg"); }
        #portfolio #clients .client .first-screen .info-panel .team-members .member.alex {
          background-image: url("../assets/img/team/macpherson.jpg"); }
        #portfolio #clients .client .first-screen .info-panel .team-members .member.tk {
          background-image: url("../assets/img/team/kilminster.jpg"); }
        #portfolio #clients .client .first-screen .info-panel .team-members .member:nth-of-type(3) {
          transform: translate3d(7px, 0px, 0px);
          z-index: 1; }
        #portfolio #clients .client .first-screen .info-panel .team-members .member:nth-of-type(2) {
          transform: translate3d(14px, 0px, 0px);
          z-index: 2; }
        #portfolio #clients .client .first-screen .info-panel .team-members .member:nth-of-type(1) {
          transform: translate3d(21px, 0px, 0px);
          z-index: 3; }
      #portfolio #clients .client .first-screen .info-panel .team-members:hover .member, #portfolio #clients .client .first-screen .info-panel .team-members:hover .title {
        transform: none; }
      #portfolio #clients .client .first-screen .info-panel .team-members:hover .title {
        margin-right: 10px; }
      #portfolio #clients .client .first-screen .info-panel .team-members:hover .member {
        margin-right: 5px; }
        #portfolio #clients .client .first-screen .info-panel .team-members:hover .member:last-of-type {
          margin-right: 0px; }
  #portfolio #clients .client .further-info {
    background-color: #181818; }
    #portfolio #clients .client .further-info .title {
      margin-bottom: 10px; }
    #portfolio #clients .client .further-info hr {
      opacity: 0.5;
      margin-bottom: 75px; }
    #portfolio #clients .client .further-info .desc {
      opacity: 0.2;
      font-size: 0.8em;
      margin-bottom: 75px; }
    #portfolio #clients .client .further-info .graphics .graphic {
      margin-bottom: 150px; }
      #portfolio #clients .client .further-info .graphics .graphic:last-of-type {
        margin-bottom: 0px; }
      #portfolio #clients .client .further-info .graphics .graphic .container {
        padding-bottom: 0px; }
    #portfolio #clients .client .further-info .graphics img {
      width: 100%; }
    #portfolio #clients .client .further-info .pages .page {
      margin-bottom: 150px; }
      #portfolio #clients .client .further-info .pages .page:last-of-type {
        margin-bottom: 0px; }
      #portfolio #clients .client .further-info .pages .page hr {
        margin-bottom: 20px; }
      #portfolio #clients .client .further-info .pages .page .browser .browser-header {
        border-radius: 5px 5px 0 0;
        padding: 10px 15px; }
        #portfolio #clients .client .further-info .pages .page .browser .browser-header .close, #portfolio #clients .client .further-info .pages .page .browser .browser-header .minimise, #portfolio #clients .client .further-info .pages .page .browser .browser-header .maximise {
          min-width: 10px;
          max-width: 10px;
          min-height: 10px;
          max-height: 10px;
          background-color: #181818;
          border-radius: 100px;
          margin-right: 10px; }
        #portfolio #clients .client .further-info .pages .page .browser .browser-header .close:hover {
          background-color: #ff4746; }
        #portfolio #clients .client .further-info .pages .page .browser .browser-header .minimise:hover {
          background-color: #ffbe00; }
        #portfolio #clients .client .further-info .pages .page .browser .browser-header .maximise {
          margin-right: 20px; }
          #portfolio #clients .client .further-info .pages .page .browser .browser-header .maximise:hover {
            background-color: #00d644; }
        #portfolio #clients .client .further-info .pages .page .browser .browser-header .search {
          background-color: #181818;
          opacity: 0.5;
          width: 100%;
          height: 20px;
          border-radius: 3px; }
          #portfolio #clients .client .further-info .pages .page .browser .browser-header .search:hover {
            opacity: 0.75; }
      #portfolio #clients .client .further-info .pages .page .browser .screen {
        background-color: #171717;
        height: auto;
        width: 100%; }
    #portfolio #clients .client .further-info .colours {
      background-color: #141414; }
      #portfolio #clients .client .further-info .colours .palette {
        height: 250px; }
        #portfolio #clients .client .further-info .colours .palette .colour:hover {
          transform: translate3d(0px, -10px, 0px); }
          #portfolio #clients .client .further-info .colours .palette .colour:hover .hex-code {
            opacity: 1;
            transform: none;
            font-weight: 900; }
        #portfolio #clients .client .further-info .colours .palette .colour .hex-code {
          font-size: 0.8em;
          opacity: 0.2;
          transform: translate3d(0px, 5px, 0px); }
        #portfolio #clients .client .further-info .colours .palette .colour-1 {
          background-color: rgba(255, 255, 255, 0.7); }
        #portfolio #clients .client .further-info .colours .palette .colour-2 {
          background-color: rgba(255, 255, 255, 0.6); }
        #portfolio #clients .client .further-info .colours .palette .colour-3 {
          background-color: rgba(255, 255, 255, 0.5); }
        #portfolio #clients .client .further-info .colours .palette .colour-4 {
          background-color: rgba(255, 255, 255, 0.4); }
        #portfolio #clients .client .further-info .colours .palette .colour-5 {
          background-color: rgba(255, 255, 255, 0.3); }
        #portfolio #clients .client .further-info .colours .palette .colour-6 {
          background-color: rgba(255, 255, 255, 0.2); }
        #portfolio #clients .client .further-info .colours .palette .colour-7 {
          background-color: rgba(255, 255, 255, 0.1); }
    #portfolio #clients .client .further-info .fonts {
      background-color: #eee; }
      #portfolio #clients .client .further-info .fonts h5, #portfolio #clients .client .further-info .fonts h4, #portfolio #clients .client .further-info .fonts p {
        color: #2f2f2f; }
      #portfolio #clients .client .further-info .fonts hr {
        border-color: #2f2f2f; }
      #portfolio #clients .client .further-info .fonts .desc {
        opacity: 0.5; }
      #portfolio #clients .client .further-info .fonts .font {
        margin-bottom: 0.2em; }
        #portfolio #clients .client .further-info .fonts .font:nth-of-type(1) {
          font-weight: 100; }
        #portfolio #clients .client .further-info .fonts .font:nth-of-type(2) {
          font-weight: 300; }
        #portfolio #clients .client .further-info .fonts .font:nth-of-type(3) {
          font-weight: 900; }
    #portfolio #clients .client .further-info .testimonials hr {
      margin-bottom: 50px; }
    #portfolio #clients .client .further-info .testimonials .quote {
      font-style: italic;
      font-size: 0.9em;
      opacity: 0.5;
      margin-bottom: 25px;
      padding: 0px 75px; }
    #portfolio #clients .client .further-info .testimonials .author {
      opacity: 0.75;
      font-size: 0.8em; }
    #portfolio #clients .client .further-info .testimonials .slider {
      height: auto; }
      #portfolio #clients .client .further-info .testimonials .slider .slides {
        margin-bottom: 100px; }
      #portfolio #clients .client .further-info .testimonials .slider .slider-control {
        top: 30%; }
  #portfolio #clients #mepiphany .first-screen, #portfolio #clients #mepiphany .fonts, #portfolio #clients #mepiphany .colour-1 {
    background-color: #46abe3; }
  #portfolio #clients #mepiphany .first-screen {
    background-image: url("../assets/img/portfolio/mepiphany/poster.jpg"); }
  #portfolio #clients #mepiphany .colour-2 {
    background-color: #47a4c4; }
  #portfolio #clients #mepiphany .colour-3 {
    background-color: #59c5d8; }
  #portfolio #clients #mepiphany .colour-4 {
    background-color: #4aa8c6; }
  #portfolio #clients #mepiphany .colour-5 {
    background-color: #57afc4; }
  #portfolio #clients #mepiphany .colour-6 {
    background-color: #3d93b5; }
  #portfolio #clients #mepiphany .colour-7 {
    background-color: #ffffff; }
  #portfolio #clients #mepiphany .fonts h5, #portfolio #clients #mepiphany .fonts h4, #portfolio #clients #mepiphany .fonts p {
    color: white; }
  #portfolio #clients #mepiphany .fonts hr {
    border-color: white; }
  #portfolio #clients #mepiphany .fonts .font {
    font-family: Grand Hotel; }
  #portfolio #clients #thirty-degrees .first-screen {
    background-image: url("../assets/img/portfolio/thirty-degrees/poster.jpg"); }
  #portfolio #clients #thirty-degrees .colour-1 {
    background-color: #191919; }
  #portfolio #clients #thirty-degrees .colour-2 {
    background-color: #000000; }
  #portfolio #clients #thirty-degrees .colour-3 {
    background-color: #ffffff; }
    #portfolio #clients #thirty-degrees .colour-3 p {
      color: #2f2f2f; }
  #portfolio #clients #thirty-degrees .colour-4 {
    background-color: #4B4B4B; }
  #portfolio #clients #thirty-degrees .fonts .font {
    font-family: Quicksand; }
  #portfolio #clients #ndorsa .first-screen, #portfolio #clients #ndorsa .fonts, #portfolio #clients #ndorsa .colour-1 {
    background-color: white; }
  #portfolio #clients #eden .first-screen, #portfolio #clients #eden .fonts, #portfolio #clients #eden .colour-1 {
    background-color: #52ae76; }
  #portfolio #clients #eden .first-screen {
    background-image: url("../assets/img/portfolio/eden/poster.jpg"); }
  #portfolio #clients #eden .colour-2 {
    background-color: #2F2F2F; }
  #portfolio #clients #eden .colour-3 p, #portfolio #clients #eden .colour-4 p {
    color: #2F2F2F; }
  #portfolio #clients #eden .colour-3 {
    background-color: #EEEEEE; }
  #portfolio #clients #eden .colour-4 {
    background-color: #FFFFFF; }
  #portfolio #clients #eden .fonts h5, #portfolio #clients #eden .fonts h4, #portfolio #clients #eden .fonts p {
    color: white; }
  #portfolio #clients #eden .fonts hr {
    border-color: white; }
  #portfolio #clients #eden .fonts .font {
    font-family: Source Sans Pro; }
  #portfolio #clients #frecibo .first-screen, #portfolio #clients #frecibo .fonts, #portfolio #clients #frecibo .colour-1 {
    background-color: #a4c6b7; }
  #portfolio #clients #frecibo .first-screen {
    background-image: url("../assets/img/portfolio/frecibo/poster.jpg"); }
  #portfolio #clients #frecibo .font {
    font-family: Lobster; }
  #portfolio #clients #raw .first-screen, #portfolio #clients #raw .fonts, #portfolio #clients #raw .colour-1 {
    background-color: #c3a541; }
  #portfolio #clients #raw .first-screen {
    background-image: url("../assets/img/portfolio/raw/poster.jpg"); }
  #portfolio #clients #raw .font {
    font-family: Adam; }
  #portfolio #clients #lush-heat .first-screen, #portfolio #clients #lush-heat .fonts, #portfolio #clients #lush-heat .colour-1 {
    background-color: white; }
  #portfolio #clients #lush-heat .first-screen {
    background-image: url("../assets/img/portfolio/lush-heat/poster.jpg"); }
  #portfolio #clients #lush-heat .font {
    font-family: lush-heat-font; }
  #portfolio #clients #fdis .first-screen, #portfolio #clients #fdis .fonts, #portfolio #clients #fdis .colour-1 {
    background-color: #f5a623; }
  #portfolio #clients #fdis .first-screen {
    background-image: url("../assets/img/portfolio/fdis/poster.jpg"); }
  #portfolio #clients #fdis .font {
    font-family: Antonio; }
  #portfolio #clients #tutorial .first-screen, #portfolio #clients #tutorial .fonts, #portfolio #clients #tutorial .colour-1 {
    background-color: #1172c1; }
  #portfolio #clients #tutorial .first-screen {
    background-image: url("../assets/img/portfolio/tutorial/poster.jpg"); }
  #portfolio #clients #tutorial .fonts h5, #portfolio #clients #tutorial .fonts h4, #portfolio #clients #tutorial .fonts p {
    color: white; }
  #portfolio #clients #tutorial .fonts hr {
    border-color: white; }
  #portfolio #clients #tutorial .fonts .font {
    font-family: Helvetica; }
  #portfolio #clients #uprising .first-screen, #portfolio #clients #uprising .fonts, #portfolio #clients #uprising .colour-1 {
    background-color: black; }
  #portfolio #clients #uprising .first-screen {
    background-image: url("../assets/img/portfolio/uprising/poster.jpg"); }
  #portfolio #clients #uprising .fonts h5, #portfolio #clients #uprising .fonts h4, #portfolio #clients #uprising .fonts p {
    color: white; }
  #portfolio #clients #uprising .fonts hr {
    border-color: white; }
  #portfolio #clients #uprising .fonts .font {
    font-family: Angry Blu; }
  #portfolio #clients #moneywise .first-screen, #portfolio #clients #moneywise .fonts, #portfolio #clients #moneywise .colour-1 {
    background-color: #bd3935; }
  #portfolio #clients #moneywise .fonts h5, #portfolio #clients #moneywise .fonts h4, #portfolio #clients #moneywise .fonts p {
    color: white; }
  #portfolio #clients #moneywise .fonts hr {
    border-color: white; }
  #portfolio #clients #moneywise .fonts .font {
    font-family: Raleway; }
  #portfolio #clients #fairpay .first-screen, #portfolio #clients #fairpay .fonts, #portfolio #clients #fairpay .colour-1 {
    background-color: #9c1c1c; }
  #portfolio #clients #fairpay .fonts h5, #portfolio #clients #fairpay .fonts h4, #portfolio #clients #fairpay .fonts p {
    color: white; }
  #portfolio #clients #fairpay .fonts hr {
    border-color: white; }
  #portfolio #clients #fairpay .fonts .font {
    font-family: Abel; }
  #portfolio #clients #do-to .first-screen, #portfolio #clients #do-to .fonts, #portfolio #clients #do-to .colour-1 {
    background-color: #f6d6a4; }
  #portfolio #clients #do-to .font {
    font-family: Dosis; }
