doctype html
html(lang='en')
    head
        include include/head
        title
    body
        // Add your site or app content here
        h1 Hello World!
        p My Workflow
        include include/foot
