.portfolio-panel
    span.close-panel ⤬
    .row.tab-col
        .col.project-info
            p.project-title Web Application
            h3.project-name DoTo!
            .fact-file
                p.fact.date Date: 
                    span 2015
                p.fact.desc DoTo was my first year lab work for my Web Development module at University and my first ever website. It is a to do list application that allows you to create accounts, create lists, add items to list etc. The site was developed using HTML, CSS, PHP, jQuery, AJAX and SQL.
            a.button.project-link(href="http://cs139.dcs.warwick.ac.uk/~u1415940/cs139/labs/", target="_blank") View Project 
                span.transition ⇾
        .col.gallery
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/do-to/pages/1.jpg", alt="DoTo! Home")
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/do-to/pages/2.jpg", alt="DoTo! List")
