.portfolio-panel
    span.close-panel ⤬
    .row.tab-col
        .col.project-info
            p.project-title Project
            h3.project-name Eden
            .fact-file
                p.fact.date Date: 
                    span May 2017
                p.fact.desc Eden was by 3rd year dissertation project. It is a front-end framework for beautiful design offering both CSS and JS components. My main reason for creating my own framework was to suit my personal design style and to save time during development. It is freely available on github as an open-source project having being used in a handful of sites online. Eden was made using SASS, jQuery and Gulp.
            a.button.project-link(href="https://designofeden.com/", target="_blank") View Project 
                span.transition ⇾
        .col.gallery
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/eden/pages/1.jpg", alt="Eden Homepage")
            img(src="assets/img/portfolio/eden/poster.jpg", alt="Eden Poster")
