.portfolio-panel
    span.close-panel ⤬
    .row.tab-col
        .col.project-info
            p.project-title Web Application
            h3.project-name FairPay
            .fact-file
                p.fact.date Date: 
                    span 2015
                p.fact.desc FairPay was my first year coursework for my Web Development module at University. It is a bill splitter application that lets housemates split bills amongst one another. The site was developed using HTML, CSS, PHP, jQuery, AJAX and SQL.
            a.button.project-link(href="http://cs139.dcs.warwick.ac.uk/~u1415940/cs139/coursework/", target="_blank") View Project 
                span.transition ⇾
        .col.gallery
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/fairpay/pages/1.jpg", alt="FairPay Home")
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/fairpay/pages/2.jpg", alt="FairPay Sign Up")
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/fairpay/pages/3.jpg", alt="FairPay Bills")
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/fairpay/pages/4.jpg", alt="FairPay Settings")
