.portfolio-panel
    span.close-panel ⤬
    .row.tab-col
        .col.project-info
            p.project-title Website
            h3.project-name Fanbytes
            .fact-file
                p.fact.date Date: 
                    span Aug 2017
                .fact.team-members.row.left-center
                    span Team members: 
                    .img.member.bg-center.transition.overlay.dark.on-hover.mitch
                        a(href="https://www.linkedin.com/in/mfasanya/", target="_blank")
                p.fact.desc During the summer of 2017, i was given the oppurtunity to work at Fanbytes as an Intern. Here I worked closely with the company CTO and was responsible for redesigning and developing the front-end to their website. The site is made on Ruby on Rails and designed using Sketch.
            a.button.project-link(href="https://fanbytes.co.uk/", target="_blank") View Project 
                span.transition ⇾
        .col.gallery
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/fanbytes/pages/index.jpg", alt="Fanbytes Index")
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/fanbytes/pages/login.jpg", alt="Fanbytes Login")
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/fanbytes/pages/influencers.jpg", alt="Fanbytes Influencers")
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/fanbytes/pages/brands.jpg", alt="Fanbytes Brands")
