.portfolio-panel
    span.close-panel ⤬
    .row.tab-col
        .col.project-info
            p.project-title Branding + Website
            h3.project-name Fire Door Inspection Solutions UK
            .fact-file
                p.fact.date Date: 
                    span 2016
                p.fact.desc Fire Door Inspection SOlutions UK (FDISuk) are a company offering a range of Fire Door services. They were one of my first big clients in which I was given almost a blank canvas to come up with their first brand and website. The logo makes a play with the letter 'F' in Fire and a door and was made in Adobe Illustrator. The Website was made in Pug, Sass, jQuery and Gulp and desiged using Sketch. 
            a.button.project-link(href="http://fdisuk.com/", target="_blank") View Project 
                span.transition ⇾
        .col.gallery
            img(src="assets/img/portfolio/fdis/poster1.jpg", alt="FDIS Poster")
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/fdis/pages/1.png", alt="FDISuk Home")
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/fdis/pages/2.png", alt="FDISuk Main")
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/fdis/pages/3.png", alt="FDISuk Contact")
