.portfolio-panel
    span.close-panel ⤬
    .row.tab-col
        .col.project-info
            p.project-title Startup
            h3.project-name Frecibo
            .fact-file
                p.fact.date Date: 
                    span Jun 2017
                .fact.team-members.row.left-center
                    span Team members: 
                    .img.member.bg-center.transition.overlay.dark.on-hover.ed
                        a(href="http://edoardobarp.com/", target="_blank")
                p.fact.desc Frecibo was the first startup I got involved in. It is a platform, aimed at students allowing them to order home cooked food from to campus. The initiative was to provide students with cheaper and healthier food options as well as giving local and aspiring chefs the oppurtunity to get paid for cooking. I am responsible for the design and front-end development of the platform as well as the majority of marketing material. The site has been built on PHP, with styling in SASS.
            a.button.project-link(href="https://frecibo.com/", target="_blank") View Project 
                span.transition ⇾
        .col.gallery
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/frecibo/pages/1.png", alt="Frecibo Homepage")
            img(src="assets/img/portfolio/frecibo/poster.jpg", alt="Frecibo Poster")
            img(src="assets/img/portfolio/frecibo/logo.jpg", alt="Frecibo Logo")
            img(src="assets/img/portfolio/frecibo/burger-poster.jpg", alt="Frecibo Burger Poster")
            img(src="assets/img/portfolio/frecibo/flyer.jpg", alt="Frecibo Flyer")
            img(src="assets/img/portfolio/frecibo/talk-poster.jpg", alt="Frecibo Talk Poster")
