.portfolio-panel
    span.close-panel ⤬
    .row.tab-col
        .col.project-info
            p.project-title Branding
            h3.project-name Leicester Motors LTD
            .fact-file
                p.fact.date Date: 
                    span Aug 2017
                p.fact.desc Leicester Motors is a garage that offers a range of services: vehicle repairs, diagnostics, AC regas and MOT’s on cars, vans, motorbikes and minibuses. They wanted a change in their brand with a modern and milimilistic look while keeping hold of their orginal blue colour scheme. This logo was designed and created using Adobe Illustrator. 
        .col.gallery
            img(src="assets/img/portfolio/leicester-motors/poster.jpg", alt="Leicester Motors Logo")
            img(src="assets/img/portfolio/leicester-motors/poster-2.png", alt="Leicester Motors Logo 2")
            img(src="assets/img/portfolio/leicester-motors/ideas.jpeg", alt="Leicester Motors Logo Ideas")
            img(src="assets/img/portfolio/leicester-motors/garage.jpeg", alt="Leicester Motors Garage")
