.portfolio-panel
    span.close-panel ⤬
    .row
        .col.project-info
            p.project-title Website
            h3.project-name Lush Heat Treatment LTD
            .fact-file
                p.fact.date Date: 
                    span 2016
                p.fact.desc Lush Heat Treatment LTD was my first web client in which I started from a blank canvas and had no exisitng site to work from. The brief was to keep it simple and professional. The site was made using HTML, CSS amd jQuery.
            a.button.project-link(href="http://lush-heat.com/", target="_blank") View Project 
                span.transition ⇾
        .col.gallery
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/lush-heat/pages/1.png", alt="Lush Heat Treatment LTD Home")
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/lush-heat/pages/2.png", alt="Lush Heat Treatment LTD About")
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/lush-heat/pages/3.png", alt="Lush Heat Treatment LTD Gallery")
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/lush-heat/pages/4.png", alt="Lush Heat Treatment LTD Approvals")
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/lush-heat/pages/5.png", alt="Lush Heat Treatment LTD Contact")
