.portfolio-panel
    span.close-panel ⤬
    .row.tab-col
        .col.project-info
            p.project-title Website
            h3.project-name MakeUpTuts TV
            .fact-file
                p.fact.date Date: 
                    span Sep 2017
                .fact.team-members.row.left-center
                    span Team members: 
                    .img.member.bg-center.transition.overlay.dark.on-hover.mitch
                        a(href="https://www.linkedin.com/in/mfasanya/", target="_blank")
                p.fact.desc The MakeUpTuts TV Website was a project undertaken during my Summer internship with Fanbytes with MakeUpTuts TV being a channel of theirs. The site was made in Ruby on Rails using fullpage.js.
            a.button.project-link(href="https://makeuptuts.tv/", target="_blank") View Project 
                span.transition ⇾
        .col.gallery
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/makeuptuts/pages/1.png", alt="MakeUpTuts TV Page 1")
                img.screen(src="assets/img/portfolio/makeuptuts/pages/2.png", alt="MakeUpTuts TV Page 2")
                img.screen(src="assets/img/portfolio/makeuptuts/pages/3.png", alt="MakeUpTuts TV Page 3")
                img.screen(src="assets/img/portfolio/makeuptuts/pages/4.png", alt="MakeUpTuts TV Page 4")
                img.screen(src="assets/img/portfolio/makeuptuts/pages/5.png", alt="MakeUpTuts TV Page 5")
