.portfolio-panel
    span.close-panel ⤬
    .row
        .col.project-info
            p.project-title Branding
            h3.project-name Mepiphany
            .fact-file
                p.fact.date Date: 
                    span Jul 2017
                p.fact.desc Mepiphany was a platform to connect students and employers. The brief of forming a brand for the company consisted of creating a minimilistic logo and other assets, encorporating the idea of a light bulb and a blue colour scheme. Unfortunately Mepiphany no longer exists. These assets were designed and created in Adobe Illustrator. 
        .col.gallery
            img(src="assets/img/portfolio/mepiphany/logo.png", alt="Mepiphany Logo")
            img(src="assets/img/portfolio/mepiphany/poster.jpg", alt="Mepiphany Cover Photo")
