.portfolio-panel
    span.close-panel ⤬
    .row.tab-col
        .col.project-info
            p.project-title Website
            h3.project-name MoneyWiseQuoteMe PLC
            .fact-file
                p.fact.date Date: 
                    span 2015
                p.fact.desc MoneyWiseQuoteMe PLC was my first client. They are a Trading Name of Moneywise Investments Plc and are an Insurance Broker and Independent Financial Advisers Authorised & Regulated by The Financial Conduct Authority. This was a job that is so important and appreciated by me being my first taste of client work. The site was made using HTML, CSS, jQuery and Bootstrap.
            a.button.project-link(href="http://moneywisequoteme.com/", target="_blank") View Project 
                span.transition ⇾
        .col.gallery
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/moneywise/pages/1.png", alt="MoneyWiseQuoteMe Home")
