.portfolio-panel
    span.close-panel ⤬
    .row.tab-col
        .col.project-info
            p.project-title Startup
            h3.project-name NDORSA
            .fact-file
                p.fact.date Date: 
                    span Jun 2016
                .fact.team-members.row.left-center
                    span Team members: 
                    .img.member.bg-center.transition.overlay.dark.on-hover.ed
                        a(href="http://edoardobarp.com/", target="_blank")
                p.fact.desc NDORSA is a startup founded by myself and couple other friends. It is the ultimate marketplace to find social media endorsers/influencers. When I was introduced to this idea by the CEO, I was immediately taken by the project and the possibilities. I am responsible for the design and front-end development of the platform as well as the marketing assets. The platform has been built on PHP and is coming soon.
            a.button.project-link(href="https://ndorsa.com/", target="_blank") View Project 
                span.transition ⇾
        .col.gallery
            img(src="assets/img/portfolio/ndorsa/poster.jpg", alt="NDORSA Dashboard iMac")
