.portfolio-panel
    span.close-panel ⤬
    .row.tab-col
        .col.project-info
            p.project-title Startup
            h3.project-name Thirty Degrees
            .fact-file
                p.fact.date Date: 
                    span Jun 2017
                .fact.team-members.row.left-center
                    span Team members: 
                    .img.member.bg-center.transition.overlay.dark.on-hover.alex
                        a(href="http://www.alexmacpherson.uk/", target="_blank")
                    .img.member.bg-center.transition.overlay.dark.on-hover.ed
                        a(href="http://edoardobarp.com/", target="_blank")
                    .img.member.bg-center.transition.overlay.dark.on-hover.wastemane
                        a(href="https://www.linkedin.com/in/hamish-lacmane-7b080b107/", target="_blank")
                    .img.member.bg-center.transition.overlay.dark.on-hover.tk
                        a(href="http://tomkilminster.uk/", target="_blank")
                p.fact.desc Thirty Degrees is a digital agency founded by myself and a few friends. It was created as an oppurtunity for all of us to take on large web development projects that we couldn't manage individually. We have had a number of cliets including Fanbytes, Eamonn & Co, The Panoptic and Fire Door Inpection Solutions UK. Our own website is currently in development. 
            a.button.project-link(href="https://thirty.degree/", target="_blank") View Project 
                span.transition ⇾
        .col.gallery
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/thirty-degrees/pages/coming-soon.png", alt="Thirty Degrees Coming Soon Page")
            img(src="assets/img/portfolio/thirty-degrees/poster-icon-dark-bg.jpg", alt="Thirty Degrees Icon")
            img(src="assets/img/portfolio/thirty-degrees/poster-name-light-bg.jpg", alt="Thirty Degrees Logo")
