.portfolio-panel
    span.close-panel ⤬
    .row.tab-col
        .col.project-info
            p.project-title Website
            h3.project-name Tutorial LTD
            .fact-file
                p.fact.date Date: 
                    span 2016
                p.fact.desc Tutorial Ltd is an independent tuition centre offering both 1 to 1 and group tuition. I was working as a tutor there helping kids with their maths and science learning and oftern offered my hand with the company's advertising and marketing material. Once I started University and learned about web development I offered my services to recreate their site. This site was made using HTML, CSS, Bootstrap and jQuery.
            a.button.project-link(href="http://www.tutorial-ltd.co.uk/", target="_blank") View Project 
                span.transition ⇾
        .col.gallery
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/tutorial/pages/1.png", alt="Tutorial LTD Home")
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/tutorial/pages/2.png", alt="Tutorial LTD About")
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/tutorial/pages/3.png", alt="Tutorial LTD Performing Arts")
            .browser
                .browser-header.dark.row.center-center
                    .close.transition
                    .minimise.transition
                    .maximise.transition
                    .search.transition
                img.screen(src="assets/img/portfolio/tutorial/pages/4.png", alt="Tutorial LTD Timetable")
