.portfolio-panel
    span.close-panel ⤬
    .row.tab-col
        .col.project-info
            p.project-title Branding
            h3.project-name Uprising
            .fact-file
                p.fact.date Date: 
                    span 2015
                p.fact.desc Uprising was one of my mate's rock bands in Hornchurch, Essex. He asked me to design and make them a logo and cover photo with the idea of giving it a dark "grungy" look and incorporating an eye within it. This logo was created in Adobe Photoshop.
        .col.gallery
            img(src="assets/img/portfolio/uprising/poster.jpg", alt="Uprising Logo")
