.container
    h3.title.text-center Portfolio.
section#grid.row.wrap
    .work.makeuptutstv.bg-center
        a(href="#portfolio#makeuptutstv")
            .caption.col.bottom-left
                p.title Website.
                p.project MakeUpTuts TV
    .work.fanbytes.bg-center
    .work.leicester-motors.bg-center
    .work.mepiphany.bg-center
    .work.thirty-degrees.bg-center
    .work.ndorsa.bg-center
    .work.eden.bg-center
    .work.pacman.bg-center
    .work.frecibo.bg-center
    .work.fdis-website.bg-center
    .work.raw.bg-center
    .work.fdis-brand.bg-center
    .work.lush-heat.bg-center
    .work.tutorial.bg-center
    .work.moneywise.bg-center
    .work.uprising.bg-center
    .work.fairpay.bg-center
    .work.do-to.bg-center

//- doctype html
//- html(lang='en')
//- head
//-     include include/head
//-     title Aaron Conway - Portfolio.
//- body#portfolio
//-     main
//-         section#grid
//-             h6 Portfolio.
//-             .list
//-                 .work.row.left-center
//-                     h5 11. NDORSA
//-                     .strip.ndorsa.row.fill-y
//-                         .col.six.tab-full
//-                             p.title.uppercase.small NDORSA
//-                         .col.three
//-                             p.label Category
//-                             p.category Startup
//-                         .col.three
//-                             p.label Year
//-                             p.year 2017
//-                 .work.row.left-center
//-                     h5 10. Eden
//-                     .strip.eden.row.fill-y
//-                         .col.six.tab-full
//-                             p.title.uppercase.small Eden.
//-                         .col.three
//-                             p.label Category
//-                             p.category Front-end Framework
//-                         .col.three
//-                             p.label Year
//-                             p.year 2017
//-                 .work.row.left-center
//-                     h5 09. Frecibo
//-                     .strip.frecibo.row.fill-y
//-                         .col.six.tab-full
//-                             p.title Frecibo
//-                         .col.three
//-                             p.label Category
//-                             p.category Startup
//-                         .col.three
//-                             p.label Year
//-                             p.year 2016-now
//-                 .work.row.left-center
//-                     h5 08. RAW
//-                     .strip.raw.row.fill-y
//-                         .col.six.tab-full
//-                             p.title.large RAW
//-                         .col.three
//-                             p.label Category
//-                             p.category Branding
//-                         .col.three
//-                             p.label Year
//-                             p.year 2016
//-                 .work.row.left-center
//-                     h5 07. Lush Heat Treatment Ltd
//-                     .strip.lush-heat.row.fill-y
//-                         .col.six.tab-full
//-                             p.uppercase.space.title.small Lush Heat Treatment Ltd
//-                         .col.three
//-                             p.label Category
//-                             p.category Website
//-                         .col.three
//-                             p.label Year
//-                             p.year 2016
//-                 .work.row.left-center
//-                     h5 06. FDIS
//-                     .strip.fdis.row.fill-y
//-                         .col.six.tab-full
//-                             p.uppercase.space.title.small Fire Door Inspection Solutions
//-                         .col.three
//-                             p.label Category
//-                             p.category Branding + Website
//-                         .col.three
//-                             p.label Year
//-                             p.year 2016
//-                 .work.row.left-center
//-                     h5 05. Tutorial Ltd
//-                     .strip.tutorial.row.fill-y
//-                         .col.six.tab-full
//-                             p.title.uppercase.small #[strong Tutorial] Ltd
//-                         .col.three
//-                             p.label Category
//-                             p.category Website
//-                         .col.three
//-                             p.label Year
//-                             p.year 2016
//-                 .work.row.left-center
//-                     h5 04. Uprising
//-                     .strip.uprising.row.fill-y
//-                         .col.six.tab-full
//-                             p.title.large Uprising
//-                         .col.three
//-                             p.label Category
//-                             p.category Branding
//-                         .col.three
//-                             p.label Year
//-                             p.year 2015
//-                 .work.row.left-center
//-                     h5 03. MoneyWiseQuoteMe
//-                     .strip.moneywise.row.fill-y
//-                         .col.six.tab-full
//-                             p.title.small MoneyWiseQuoteMe
//-                         .col.three
//-                             p.label Category
//-                             p.category Website
//-                         .col.three
//-                             p.label Year
//-                             p.year 2015
//-                 .work.row.left-center
//-                     h5 02. Fairpay
//-                     .strip.fairpay.row.fill-y
//-                         .col.six.tab-full
//-                             p.title Fairpay
//-                         .col.three
//-                             p.label Category
//-                             p.category Web Application
//-                         .col.three
//-                             p.label Year
//-                             p.year 2015
//-                 .work.row.left-center
//-                     h5 01. DoTo!
//-                     .strip.do-to.row.fill-y
//-                         .col.six.tab-full
//-                             p.title DoTo!
//-                         .col.three
//-                             p.label Category
//-                             p.category Web Application
//-                         .col.three
//-                             p.label Year
//-                             p.year 2015
