.custom-controls.row.top-right
    <i class="fas fa-circle theme-change"></i>
    <i class="fas fa-th small-grid"></i>
    <i class="fas fa-th-large big-grid"></i>
.container
    h3.title.text-center Portfolio.
section#grid.row.wrap
    .work.makeuptutstv.bg-center
        a(href="#portfolio#makeuptutstv")
        .caption
            p.work-type Website
            h1.work-name MakeUpTutsTV
    .work.fanbytes.bg-center
        a(href="#portfolio#fanbytes")
        .caption
            p.work-type Website
            h1.work-name Fanbytes
    .work.leicester-motors.bg-center
        a(href="#portfolio#leicester-motors")
        .caption
            p.work-type Branding
            h1.work-name Leicester Motors
    .work.mepiphany.bg-center
        a(href="#portfolio#mepiphany")
        .caption
            p.work-type Branding
            h1.work-name Mepiphany
    .work.thirty-degrees.bg-center
        a(href="#portfolio#thirty-degrees")
        .caption
            p.work-type Startup
            h1.work-name Thirty Degrees
    .work.ndorsa.bg-center
        a(href="#portfolio#ndorsa")
        .caption
            p.work-type Startup
            h1.work-name NDORSA
    .work.eden.bg-center
        a(href="#portfolio#eden")
        .caption
            p.work-type Project
            h1.work-name Eden
    //- .work.pacman.bg-center
    .work.frecibo.bg-center
        a(href="#portfolio#frecibo")
        .caption
            p.work-type Startup
            h1.work-name Frecibo
    .work.fdis-website.bg-center
        a(href="#portfolio#fdis")
        .caption
            p.work-type Website
            h1.work-name Fire Door Inspection Solutions UK
    .work.raw.bg-center
        a(href="#portfolio#raw")
        .caption
            p.work-type Branding
            h1.work-name RAW 1251AM
    .work.fdis-brand.bg-center
        a(href="#portfolio#fdis")
        .caption
            p.work-type Branding
            h1.work-name Fire Door Inspection Solutions UK
    .work.lush-heat.bg-center
        a(href="#portfolio#lush-heat")
        .caption
            p.work-type Website
            h1.work-name Lush Heat Treamtment Ltd
    // old work
    .work.tutorial.bg-center.old
        a(href="#portfolio#tutorial")
        .caption
            p.work-type Website
            h1.work-name Tutorial Ltd
    .work.moneywise.bg-center.old
        a(href="#portfolio#moneywise")
        .caption
            p.work-type Website
            h1.work-name MoneyWiseQuoteMe
    .work.uprising.bg-center.old
        a(href="#portfolio#uprising")
        .caption
            p.work-type Branding
            h1.work-name Uprising
    .work.fairpay.bg-center.old
        a(href="#portfolio#fairpay")
        .caption
            p.work-type Web Application
            h1.work-name FairPay
    .work.do-to.bg-center.old
        a(href="#portfolio#do-to")
        .caption
            p.work-type Web Application
            h1.work-name DoTo!
section#load-more.col.center-center
    .container
        h1.text-center Show old work!

//- doctype html
//- html(lang='en')
//- head
//-     include include/head
//-     title Aaron Conway - Portfolio.
//- body#portfolio
//-     main
//-         section#grid
//-             h6 Portfolio.
//-             .list
//-                 .work.row.left-center
//-                     h5 11. NDORSA
//-                     .strip.ndorsa.row.fill-y
//-                         .col.six.tab-full
//-                             p.title.uppercase.small NDORSA
//-                         .col.three
//-                             p.label Category
//-                             p.category Startup
//-                         .col.three
//-                             p.label Year
//-                             p.year 2017
//-                 .work.row.left-center
//-                     h5 10. Eden
//-                     .strip.eden.row.fill-y
//-                         .col.six.tab-full
//-                             p.title.uppercase.small Eden.
//-                         .col.three
//-                             p.label Category
//-                             p.category Front-end Framework
//-                         .col.three
//-                             p.label Year
//-                             p.year 2017
//-                 .work.row.left-center
//-                     h5 09. Frecibo
//-                     .strip.frecibo.row.fill-y
//-                         .col.six.tab-full
//-                             p.title Frecibo
//-                         .col.three
//-                             p.label Category
//-                             p.category Startup
//-                         .col.three
//-                             p.label Year
//-                             p.year 2016-now
//-                 .work.row.left-center
//-                     h5 08. RAW
//-                     .strip.raw.row.fill-y
//-                         .col.six.tab-full
//-                             p.title.large RAW
//-                         .col.three
//-                             p.label Category
//-                             p.category Branding
//-                         .col.three
//-                             p.label Year
//-                             p.year 2016
//-                 .work.row.left-center
//-                     h5 07. Lush Heat Treatment Ltd
//-                     .strip.lush-heat.row.fill-y
//-                         .col.six.tab-full
//-                             p.uppercase.space.title.small Lush Heat Treatment Ltd
//-                         .col.three
//-                             p.label Category
//-                             p.category Website
//-                         .col.three
//-                             p.label Year
//-                             p.year 2016
//-                 .work.row.left-center
//-                     h5 06. FDIS
//-                     .strip.fdis.row.fill-y
//-                         .col.six.tab-full
//-                             p.uppercase.space.title.small Fire Door Inspection Solutions
//-                         .col.three
//-                             p.label Category
//-                             p.category Branding + Website
//-                         .col.three
//-                             p.label Year
//-                             p.year 2016
//-                 .work.row.left-center
//-                     h5 05. Tutorial Ltd
//-                     .strip.tutorial.row.fill-y
//-                         .col.six.tab-full
//-                             p.title.uppercase.small #[strong Tutorial] Ltd
//-                         .col.three
//-                             p.label Category
//-                             p.category Website
//-                         .col.three
//-                             p.label Year
//-                             p.year 2016
//-                 .work.row.left-center
//-                     h5 04. Uprising
//-                     .strip.uprising.row.fill-y
//-                         .col.six.tab-full
//-                             p.title.large Uprising
//-                         .col.three
//-                             p.label Category
//-                             p.category Branding
//-                         .col.three
//-                             p.label Year
//-                             p.year 2015
//-                 .work.row.left-center
//-                     h5 03. MoneyWiseQuoteMe
//-                     .strip.moneywise.row.fill-y
//-                         .col.six.tab-full
//-                             p.title.small MoneyWiseQuoteMe
//-                         .col.three
//-                             p.label Category
//-                             p.category Website
//-                         .col.three
//-                             p.label Year
//-                             p.year 2015
//-                 .work.row.left-center
//-                     h5 02. Fairpay
//-                     .strip.fairpay.row.fill-y
//-                         .col.six.tab-full
//-                             p.title Fairpay
//-                         .col.three
//-                             p.label Category
//-                             p.category Web Application
//-                         .col.three
//-                             p.label Year
//-                             p.year 2015
//-                 .work.row.left-center
//-                     h5 01. DoTo!
//-                     .strip.do-to.row.fill-y
//-                         .col.six.tab-full
//-                             p.title DoTo!
//-                         .col.three
//-                             p.label Category
//-                             p.category Web Application
//-                         .col.three
//-                             p.label Year
//-                             p.year 2015
