//fonts
@font-face
    font-family: Poppins
    src: url('../assets/fonts/poppins/Poppins-Bold.ttf')
    font-weight: 900
@font-face
    font-family: Poppins
    src: url('../assets/fonts/poppins/Poppins-SemiBold.ttf')
    font-weight: 700
@font-face
    font-family: Poppins
    src: url('../assets/fonts/poppins/Poppins-Medium.ttf')
    font-weight: 500
@font-face
    font-family: Poppins
    src: url('../assets/fonts/poppins/Poppins-Regular.ttf')
    font-weight: 300
@font-face
    font-family: Poppins
    src: url('../assets/fonts/poppins/Poppins-Light.ttf')
    font-weight: 100

html
    background-color: #FA4B4B
    width: 100vw
    overflow-x: hidden

*
    font-family: Poppins
    color: #eee

.red
    color: #FA4B4B

// index
#index

    // //loading screen
    // #loading
    //     height: 100vh
    //     transition: background-color 1s ease-in-out
    //
    //     &.loaded
    //         background-color: #333333
    //
    //     object
    //         height: 75vh
    //
    // main
    //     display: none

    .hero
        position: fixed
        top: 0
        left: 0
        background-color: #333333
        background-image: url('../assets/img/hero.jpg')
        background-size: contain

        @media screen and (max-width: 1000px)
            background-size: cover

        .content

            @media screen and (max-width: 425px)
                justify-content: left
                align-items: center
                padding-left: 50px

        h1
            margin-top: 150px
            margin-right: 50%
            transform: translate3d(-150px, 0px, 0px)
            text-align: right

            @media screen and (max-height: 750px)
                transform: translate3d(-100px, 0px, 0px)

            @media screen and (max-width: 425px)
                text-align: left
                margin-right: 0px
                transform: none
                font-size: 2.5rem
                margin-top: 500px

                @media screen and (max-height: 800px)
                    margin-top: 400px
                @media screen and (max-height: 650px)
                    margin-top: 300px
                @media screen and (max-height: 500px)
                    margin-top: 250px
                @media screen and (max-height: 450px)
                    margin-top: 200px

        .box
            background-color: #FA4B4B
            height: 50px
            width: 50px
            position: absolute
            right: 25px
            bottom: 25px

    section
        position: relative

        h6
            font-weight: 300
            font-size: 1rem
            opacity: 0.2


    #about
        margin-top: 100vh
        background-color: #181818

        h3
            margin-bottom: 75px

        .table

            .table-heading
                font-weight: 900
                font-size: 1.8rem

            .table-body
                opacity: 0.2
                line-height: 1em
                font-size: 1.2rem

    #portfolio
        background-color: #141414
        height: 100vh
        overflow-y: hidden

        @media screen and (max-width: 768px)
            h3
                font-size: 2rem

        @media screen and (max-width: 425px)
            h3
                font-size: 1.3rem

        .portfolio-panel
            background-color: #272622
            height: 100vh
            overflow-y: scroll

            .item
                position: relative
                font-size: 1rem
                float: left
                margin-bottom: -7px

                @media screen and (max-width: 768px)
                    font-size: 0.8rem

                &:hover
                    cursor: pointer

                    img
                        opacity: 1

                    .caption
                        opacity: 0
                        transform: translate3d(20px, 0px, 0px)

                &.eden
                    background-color: transparent

                img
                    width: 100%
                    opacity: 0.25
                    transition: opacity .75s cubic-bezier(.215,.61,.355,1)

                .caption
                    position: absolute
                    left: 0
                    bottom: 0
                    padding-left: 20px
                    padding-bottom: 20px
                    transition: opacity .75s cubic-bezier(.215,.61,.355,1),transform .75s cubic-bezier(.215,.61,.355,1)

                    .title
                        opacity: 0.2
                        font-size: 0.8em
                        margin-bottom: -5px
                    .project
                        font-weight: 900

    #contact
        background-color: #0F0F0F

        h3

            &:first-of-type
                margin-bottom: 2em

        a

            &:hover
                text-decoration: line-through

                &.twitter
                    color: #00b6f1
                &.insta
                    color: #c32aa3
                &.linkedin
                    color: #007bb6

    #fwends

        .fwend
            height: 20vw
            position: relative

            &:hover
                cursor: pointer

                .caption
                    opacity: 1

                    .title, .name
                        transform: none

            &.golden
                background-image: url('../assets/img/fwends/golden.jpg')
            &.wastemane
                background-image: url('../assets/img/fwends/wastemane.jpg')
            &.ed
                background-image: url('../assets/img/fwends/ed.jpg')
            &.alex
                background-image: url('../assets/img/fwends/alex.jpg')
            &.yash
                background-image: url('../assets/img/fwends/yash.jpg')
            &.tk
                background-image: url('../assets/img/fwends/tk.jpg')

            .caption
                position: absolute
                left: 0
                bottom: 0
                padding-left: 20px
                padding-bottom: 20px
                opacity: 0
                background-color: rgba(40, 38, 34, 0.75)
                transition: opacity .75s cubic-bezier(.215,.61,.355,1)

                .title, .name
                    transform: translate3d(-20px, 0px, 0px)
                    transition: transform .75s cubic-bezier(.215,.61,.355,1)


                .title
                    opacity: 0.2
                    font-size: 0.8em
                    margin-bottom: -5px
                .name
                    font-weight: 900
